Repository dominik-zeglen/home-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: black, prettier --write

.lintstagedrc:

{
  "*.py": ["black"],
  "*.js": ["prettier --write"],
  "*.ts": ["prettier --write"],
  "*.tsx": ["prettier --write"],
  "*.scss": ["prettier --write"]
}

Lint project
  plugins/docker.py
  plugins/hardware.py
  plugins/network.py
  src/api/service.ts
  src/section/containers.tsx
  src/section/services.tsx
  src/styles.scss
  src/styles/globals.css
Due: black, prettier --write

Improve service pinning
  plugins/service.py
  src/api/service.ts
  src/section/services.tsx
Due: black, prettier --write

Gather all services in hub and cache them
  plugins/service.py
  requirements.txt
  src/api/service.ts
  src/section/services.tsx
Due: black, prettier --write

Fix docker integration
  Dockerfile
  docker-compose.yml
Due: none

Add service cache bust
  plugins/service.py
  src/api/service.ts
  src/section/services.tsx
Due: black, prettier --write

Add expired and expiring todos
  migrations/0001_stale_todos.py
  plugins/todo.py
  src/api/todo.ts
  src/section/todo.tsx
  src/utils/date.ts
Due: black, prettier --write

Fix migration on older apis
  migrations/0001_stale_todos.py
  plugins/todo.py
Due: black

Add link reordering
  migrations/0002_link_order.py
  plugins/links.py
  src/api/link.ts
  src/components/collection.tsx
  src/section/links.tsx
Due: black, prettier --write

Remove debug console logs
  src/api/weather.ts
  src/section/links.tsx
Due: prettier --write

Fix app crash after putting a new link
  plugins/links.py
Due: black

Reindex links after any change
  plugins/links.py
Due: black
